<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Message Board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<th:block th:each="message: ${messages}">
    <p th:text="${message.content}"/>
    <p th:text="'Author: ' + ${message.author}" />
    <p th:text="'Posted on: ' + ${message.date}" />
    <br />
</th:block>
<form th:if="${loggedIn == true}" action="#" th:action="@{/board}" th:object="${messageForm}" method="post">
    <p>Name: <input type="text" th:field="*{author}" /></p>
    <p>Message: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<p th:unless="${loggedIn == true}">Not logged in.<br />
    <a th:href="@{/login}">Login</a>
</p>
<p>
    <a th:href="@{/board/(offset=${offset + 10})}">Back</a>
    <a th:href="@{/board/(offset=${offset - 10})}">Forward</a>
</p>
</body>
</html>