<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Message Board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<th:block th:each="message: ${messages}">
    <p th:text="${message.content}"/>
    <p th:text="'Author: ' + ${message.author}" />
    <p th:text="'Posted on: ' + ${message.date}" />
    <br />
</th:block>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/board}" th:object="${messageDto}" method="post">
        <p>Logged in as: <span sec:authentication="name">username</span></p>
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <p>
        <a th:href="@{/board/(offset=${offset + 10})}">Back</a>
        <a th:href="@{/board/(offset=${offset - 10})}">Forward</a>
    </p>
    <p>
        <form th:action="@{/logout}" method="post">
            <p><input type="submit" value="Logout"/></p>
        </form>
    </p>
</div>
<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/login}">Login</a>
</div>
<div th:if="${param.logout}">
    You have been successfully logged out.
</div>
</body>
</html>